
* {
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

/* form required input */
div.form {
    background-color: #d9bea17c;
}
form fieldset{
    border: thin solid rgba(0, 0, 0, .1);
}
.required::before {
    content: '*';
    color: red;
    
}

input:required:focus{
    border-bottom: 2px solid red ;
    outline: none;
    background-color: rgba(100, 0, 0, .1);
}


button#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    
    
}
