h1,h2,h3,h4,h5,h6 {
    font-family: "Merriweather", serif;
}

p {
    font-family: "Roboto", sans-serif;
}

li, a, button {
    font-family: "Merriweather", sans-serif;
    cursor:pointer;
}

button {
    background-color: #e5ebef;
    padding: .7rem;
}
button:hover {
    box-shadow: 0 12px 16px 0 #e5ebef4e, 0 17px 50px 0 #e5ebef4e;
}

header {
    background-color: #122430;
}

/* .heroDiv img:nth-child(1) { */
    /* max-width: 100%;   */
    /* min-width: 560px; */
    /* overflow: hidden; */
/* } */

.heroDiv img:nth-child(3) {
    width: 100%;
    height: auto;
}

.heroDiv {
    position: relative;
    text-align: center;
}

.topLogo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    /* background-color: #314a6ad7; */
    max-width: 200px;
    min-width: 110px;
    width: 15%;
}

#menu {
    position: absolute;
    top: 125px;
    right: 5px;
    width: fit-content;
    transform: rotate(0deg);
    transition: 200ms;
}

.navbar li:hover .icon {
    filter: invert(100%);
}

.icon {
    width: 20px;
    height: auto;
    padding-right: 5px;
}

.darkToggle {
    position: absolute;
    top: 5px;
    right: 5px;
}

#darkButton {
    font-size: larger;
}

ul {
    padding-left: 0;
}
.navbar li {
    display: none;
    float: none;
    justify-content: center;
    padding: 5px;
    background-color: #122430;
    text-align: center;
    
}

.navbar li a {
    display: block;
    color: #e5ebef;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    
    
    /* font-size: 1.5vw; */
    

}
.navbar li:hover {
    color: #122430;
    background-color: #e5ebef;
    transition: all 0.3s ease-in 0s;
    
}
.navbar a:hover {
    color: #122430;
}

h1 {
    color: #e5ebef;
    background-color: #12243086;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* background-color: #677b95a2; */
    justify-content: center;
    font-size: x-large;
    padding: 1rem;
}

#topButton {
    position: absolute;
    top: 90%;
    left: 50%;
    font-size: larger;
    background-color: #e5ebef;
    opacity: 80%;
    color: #122430;
    transform: translate(-50%, -50%);
    display: none;
}


#topButton:hover {
    opacity: 100%;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.section1 h2 {
    text-align: center;
    background-color: #122430;
    color: #e5ebef;
    margin: 0;
}

.weather div {
    padding: 1rem;
}
.weather {
    display: block;
    border: 1px solid black;
    grid-column: 1/6;
}

.events {
    margin-top: 10px;
    display: block;
    border: 1px solid black;
    grid-column: 1/6;
    grid-row: 2/4;
    text-align: center;

}

.spotlights {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 1rem;
}

#spotlight1, #spotlight2, #spotlight3, #spotlight4 {
    border: 1px solid black;
    margin-top: 10px;
}

#spotlight1 {
    grid-column: 1/4;
    grid-row: 2/4;
    margin-right: 5px;
}

#spotlight2 {
    grid-column: 4/7;
    grid-row: 2/4;
    margin-left: 5px;
}

#spotlight3 {
    grid-column: 1/4;
    grid-row: 4/6;
    margin-right: 5px;
}

#spotlight4 {
    grid-column: 4/7;
    grid-row: 4/6;
    margin-left: 5px;
}
footer {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    color: #e5ebef;
    background-color: #122430;
}

footer div:nth-child(4) {
    grid-column: 1/8;
    grid-row: 1;
}

#bottomButton {
    grid-row: 2;
    grid-column: 1/8;
}

footer .contact {
    grid-column: 1/8;
    grid-row: 3;
}

footer .map {
    grid-column: 1/8;
    grid-row: 4;
}

.map iframe {
    max-width: 800px;

}

footer .info {
    grid-column: 1/8;
    grid-row: 5;
    padding: 1rem
}

#menu::before {
    content: '☰';
    font-size: x-large;
    
}
#menu.open::before {
    content: "✖";
    
}
#menu:active {
    transform: rotate(-180deg) ;
}

.open li {
    display: block;
}

.open li a {
    display: block;
}

/* Css Discover page*/

.main__discover {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 20px;

}

.container__discover {
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 5px 5px gray;
    padding: 10px;
    text-align: center;
}

.container__discover:nth-of-type(2) img {
    max-width: 200px;

}
.container__discover:nth-of-type(1) img {
    max-width: 250px;
    margin: -35px 0 -35px 0;
}

.container__discover:nth-of-type(1) p {
    margin-top: -25px;
}
.container__discover:nth-of-type(1) {
    background-color: black;
    color: white;
    font-weight: 800;
}

.container__discover:nth-of-type(3) {
    padding: 0;
    overflow: hidden;
}

.container__discover:nth-of-type(4) {
    grid-row: 1;
}

.container__discover:nth-of-type(3) iframe {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    border: 0;
    padding: 5px;
}

.img__card {
    border-radius: 10px 100px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 15px 15px 8px gray;
}


































