@media screen and (min-width: 600px) {
    #menu {
        display: none;
    }
    
    .navbar li {
        display: block;
        padding: 1px;
        float: left;
        
    }
    
    nav {
        display: inline-flex;
    }

    .navbar {
        margin-top: 0;
    }

    #topButton {
        display: block;
        position: absolute;
        top: 77%;
        left: 20%;
        padding: .8rem;
    }

    h1 {
        font-size: 4vw;
    }

    .weather {
        grid-column: 1/6;
    }

    .events {
        grid-column: 1/6;
        grid-row: 2/4;

    }
}