body {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    
}
#profile {
    width: 150px;
    grid-column: 2/3;
    padding: 1rem;

}
title {
    display: grid;
    grid-column: 3/4;
}
header {
    color: whitesmoke;
    display: grid;
    place-items: center;
    background: rgba(42, 43, 35, 0.87);
    margin-left: -5%;
    margin-right: -5%;
    grid-template-columns: 1fr auto auto 1fr;
    
}

nav {
    background-color: rgb(214, 241, 214);
    margin: 0 auto;
    
}
nav li {
    list-style-type: none;
    font-size: larger;
    font-weight: 500;
    
    
}
nav a {
    color: black;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    display: block;
    text-align: center;
    padding: 1rem;    
}
nav a:hover {
    color:whitesmoke ;
    background-color: rgb(45, 90, 32);
    border: 1px solid black;
    
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}
main h2, h3 {
    text-decoration: underline;
}
h3 {
    background-color: rgb(45, 90, 32);
    color: whitesmoke;
    font-variant: small-caps;
    padding: 1rem;
    margin-top: auto;
    border: 1px solid black;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    background: rgba(42, 43, 35, 0.87);
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: auto;
}
.card1, .card2 {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: whitesmoke;
    min-width: 219px;
    font-size: 1rem;
}
.card2 div {
    padding: 1rem;
}

.card1 li, .card2 li {
    list-style-type: none;

}
.card1 li a {
    padding: .2rem;
}
.card1 li a:hover {
    color: orangered;
}
.card1 {
    grid-row: 2;
}
.card2 {
    grid-row: 3;
    font-size: large;
}
.card2 div {
    display: grid;
}
.card2 p {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
}
main h2 {
    grid-row: 1;
}

.map {
    display: grid;
    border: 1px solid black;
    border-radius: .5rem;
    text-align: center;
}
.map iframe {
    display: block;
    width: 99.8%;    
}
#menu {
    font-size: 1.5rem;
    border: 1px solid black;
    background-color: rgb(214, 241, 214);
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#menu::before {
    content: '☰';
    font-size: x-large;
    
}
#menu.open::before {
    content: "✖";
}
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

/* Clicking the button toggles the open class */
.open li {
    display: block;
    width: 100%;
}
.open li a {
    display: block;
}










