body {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    
}
#profile {
    width: 150px;
    grid-column: 2/3;
    padding: 1rem;

}
title {
    display: grid;
    grid-column: 3/4;
}
header {
    color: aliceblue;
    display: grid;
    place-items: center;
    background: rgba(42, 43, 35, 0.87);
    margin-left: -5%;
    margin-right: -5%;
    grid-template-columns: 1fr auto auto 1fr;
    
}

nav {
    background-color: rgb(214, 241, 214);
    margin: 0 auto;
    
}
nav li {
    list-style-type: none;
    font-size: larger;
    font-weight: 500;
    
    
}
nav a {
    color: black;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    display: block;
    text-align: center;
    padding: 1rem;    
}
nav a:hover {
    color:red ;
    border: 1px solid black;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}
main h2, h3 {
    text-decoration: underline;
}
h3 {
    background-color: rgb(228, 227, 227);
    color: black;
    padding: 1rem;
    margin-top: auto;
    border: 1px solid black;
    
}

footer {
    background: rgba(42, 43, 35, 0.87);
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: auto;
}
.card1, .card2 {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: whitesmoke;
    
    min-width: 219px;
    padding: 0 1rem 1rem 1rem;
    

}

.card1 li, .card2 li {
    list-style-type: none;

}
.card1 {
    grid-row: 2;
}
.card2 {
    grid-row: 3;
}
main h2 {
    grid-row: 1;
}





