@media screen and (min-width: 640px) {
    header, footer {
        background-color: rgb(214, 241, 214);
        color: black;
        
    }

    nav, nav a {
        background-color: rgb(45, 90, 32);
        color: white;
    }
    nav a:hover {
        color: yellow;
        -webkit-text-stroke: .07rem rgb(160, 247, 90);
        border: 1px solid #fff;
        border-bottom: 3px solid #fff;
    }
    nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    main {
        grid-template-columns: 1fr 1fr;
    }
    .card2 {
        grid-row: 2;
        grid-column: 2;
    }
    h2 {
        grid-column: 1/3;
    }
    .card3 {
        grid-column: 1/3;
    }
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
}